include includes/variables.pug

doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet' href='css/custom.css')

  title Invoice
.container-fluid
  .row.bg-primary.pl-5(style='height: 15rem')
    .col-5.d-flex.align-items-center
      a(href=invoiceUrl alt='verification url')
        img(src='https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=' + encodeURIComponent(invoiceUrl) style='width: 200px' alt='QR Code')
    .col-5.d-flex.align-items-center.justify-content-end
      h1.display-2.font-weight-bold INVOICE
  .row.bg-primary.pl-5
    .col
      h1 #{name}
      p
        | #{address1}
        br
        | #{address2}
        br
        | #{address3}
        br
        span.font-weight-bold #{rfc}
  div(style='height: 2rem')
  .row.bg-light.pl-5.py-3
    .col-7
      p INVOICED TO:
      h1 Ambry Hill Technologies LLC
      p
        | 134 Adams Street
        br
        | South Cambridge, MN 55008
        br
        | USA
        br
        span.font-weight-bold 824360836
    .col.align-self-end
      .d-flex.flex-column.align-items-end
        h1.font-weight-normal INVOICE #{invoiceNum}
        p Date of Invoice: #{new Date().toLocaleDateString()}
  div(style='height: 3rem')
  .row.d-flex.align-items-center.bg-light.border-bottom.border-white(style='height: 3rem')
    .col-1 #
    .col DESCRIPTION
    .col-2 UNIT PRICE
    .col-2 QTY
    .col-2 TOTAL
  .row.mb-3.bg-light.d-flex.align-items-center.text-accent(style='height: 3rem')
    .col-1 81111509
    .col Software Development Services
    .col-2 $#{invoiceAmmount}
    .col-2 1
    .col-2 $#{invoiceAmmount}
  .row.justify-content-end.mb-2
    .col-2 SUBTOTAL
    .col-2 $#{invoiceAmmount}
  .row.justify-content-end.mb-4
    .col-2 TAX 0%
    .col-2 $0.00
  .row.justify-content-end.align-items-center.font-weight-bold.text-accent.border-top.border-light(style='height: 3rem')
    .col-2 TOTAL
    .col-2 $#{invoiceAmmount}
  div(style='height: 3rem')
  .row
    h1 Thank you!
  footer.fixed-bottom.border-light.border-top.pt-1.w-100
    p.text-center
      | This Invoice is a printable representation of a CFDI created by an
      | official system (SAT), you can check the authenticity using the QRCode
      | at the top.
